<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinemaBooking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/CinemaBooking.styles.css" asp-append-version="true" />
	<link href="~/css/styles.css" rel="stylesheet" />
	<link href="~/css/details.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Cinema Booking</h1>
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Cinemas</a></li>
            </ul>
            <form action="/Home/Index">
            <div class="nav-search">
                <div class="search-container">
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Movie Name" name="search" value="@ViewBag.search" />
                    </div>

                    <!-- Submit Button -->
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-dark w-100">Search</button>
                    </div>
                </div>
            </div>
            </form>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>© 2024 Cinema Booking. All rights reserved.</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/script.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/details.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
